@using Newtonsoft.Json;
@model IEnumerable<OrderEase.Models.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Orders</h1>

    <form asp-action="FilterOrders" method="post">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Filter By:</label>
                        @Html.DropDownList("filterBy", new SelectList(new List<string>
                        {
                        "OrderID", "Order Date", "Delivery Date", "Supplier", "Order Status"
                        }), "Select Filter", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Filter Text:</label>
                        <input type="text" id="filterText" name="filterText" class="form-control" placeholder="Enter filter text">
                    </div>
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Filter</button>
                        <button type="button" class="btn btn-secondary btn-block" id="clearFilter">Clear</button>
                    </div>
            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => order.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.Supplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.OrderStatus)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@order.OrderID" class="btn btn-info">Edit</a>
                        <a asp-action="Details" asp-route-id="@order.OrderID" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@order.OrderID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>


